extends layout

block content
    h1 Login
    br
    form(method='POST', action='/users/login')
      #form-group
        label Username: 
        input.form-control(name='username', type='text' value=username)
      br
      #form-group
          label Pasword: 
          input.form-control(name='password', type='password')
      br
        
      
      input.btn.btn-primary.col-md-2(type='submit',value='Submit')
